.card{
    border: 2px solid #ccc;
    /*width: 30%;*/
    margin-bottom: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 1%;
}
span{
    padding-top: 5%;
    padding-right: 5%;
}